<!DOCTYPE html>
<html>
  <%= get('head').result(binding) %>
  <body>
    <%= get('header').result(binding) %>

    <% errors = [] %>

    <% gid = 'g0' %> 
    <% features = groups.first['features'] %>
  
    <div class="main_conainer">
     <main>
      

        <%# <div id="overview" class="col s12 <%= options[:color] %>
          <%# <%= get('overview').result(binding) %> 
        <%# </div> %>
        
         <%= get('overview_charts').result(binding) %>
     
        <%= get('feature_overview').result(binding) %> 
          <%= get('group_features').result(binding) %>
     

       
          <%# <%= get('summary').result(binding) %> 
  

       
          <%# <%= get('errors').result(binding) %> 
        
     
  </main>
</div>
    
  </body>
</html>
